@import "globals.css";

.map-container {
    @apply flex justify-center items-center;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.map-container svg {
    aspect-ratio: 1417 / 915;
    width: auto;
    height: 90%;
    max-height: 100%;
    touch-action: none;
}

.map-container svg path {
    @apply fill-green-200;
    fill: #e8e8e8;
    cursor: pointer;
    outline: none;
}

.map-container svg path[aria-checked="true"] {
    @apply fill-green-400;
}

.map-container svg path:hover {
    @apply fill-green-400;
    opacity: 0.8;
}

.tooltip {
    @apply text-green-400 bg-yellow-100;
    position: fixed;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 2px 8px;
    pointer-events: none;
}