@import "globals.css";

.map-container {
    @apply flex justify-center items-center;
}

.map-container svg {
    aspect-ratio: 1417 / 915;
    width: auto;
    height: 90%;
    max-height: 100%;
    touch-action: none;
}

.map-container svg path {
    fill: grey;
    cursor: pointer;
    outline: none;
}

.map-container svg path:hover {
    fill: navy;
    opacity: 0.8;
}

.tooltip {
    position: fixed;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: pink;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 2px 8px;
    background-color: black;
    pointer-events: none;
}